# OS Stuff
.DS_Store
.directory
Thumbs.db

# MSVS Stuff
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.env

# Built Files
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Ll]ogs/
*.obj
*.exe
*.pdb
*.stamp
*.tlog
